Repository klitchevo/code-council: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

lefthook.yml:

# Lefthook configuration for Git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,json}"
      exclude: "biome.json|node_modules/|dist/"
      run: node node_modules/@biomejs/biome/bin/biome check --write --diagnostic-level="error" --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck:
      glob: "src/**/*.ts"
      run: bun typecheck

commit-msg:
  commands:
    check-commit-message:
      run: |
        # Basic commit message validation
        # Ensures commit messages are not empty and have reasonable length
        msg=$(cat {1})
        if [ -z "$msg" ]; then
          echo "Commit message cannot be empty"
          exit 1
        fi
        if [ ${#msg} -lt 3 ]; then
          echo "Commit message too short (minimum 3 characters)"
          exit 1
        fi

pre-push:
  commands:
    build-check:
      run: bun run build

Add npm release workflow
  .github/workflows/release.yml
Due: none

Update README to reference Cursor instead of Cline
  README.md
Due: none

Exclude test files from npm package
  package.json
Due: biome-check

Set initial version to 0.0.1
  package.json
Due: biome-check

Remove CHANGELOG.md in favor of GitHub Releases
  CHANGELOG.md
Due: none

Fix npm authentication in release workflow
  .github/workflows/release.yml
Due: none

Update to latest GitHub Actions versions (v6)
  .github/workflows/release.yml
Due: none

Change package name to @klitchevo/code-council
  package.json
Due: biome-check

Update all package references to @klitchevo/code-council
  README.md
  examples/README.md
Due: none

Add comprehensive security warning about API key storage
  README.md
Due: none

fix: switch to tsup bundler to resolve ESM module imports
  bun.lock
  package.json
  tsconfig.json
  tsup.config.ts
Due: biome-check

chore: bump version to 0.0.2
  package.json
Due: biome-check

docs: update examples to use latest 2025 models
  README.md
  src/config.ts
Due: biome-check

chore: bump version to 0.0.3
  package.json
Due: biome-check

remove legacy run.sh file
  run.sh
Due: none

feat: add TEMPERATURE and MAX_TOKENS env vars, increase default max tokens to 16384
  README.md
  src/constants.ts
Due: biome-check

docs: remove reference to deleted run.sh script
  README.md
Due: none

feat: add review_git_changes tool to review staged/unstaged/diff/commit changes
  src/index.ts
  src/tools/review-git.ts
Due: biome-check, typecheck

fix: parse JSON string arrays from MCP environment variables
  README.md
  src/config.test.ts
  src/config.ts
  src/index.ts
  src/tools/review-git.ts
Due: biome-check, typecheck

chore: bump version to 0.0.4
  package.json
Due: biome-check

fix: remove dotenv - use only env vars from MCP client
  bun.lock
  package.json
  src/index.ts
Due: biome-check

Update package.json
  package.json
Due: biome-check

fix: sync package version from GitHub release tag before publishing
  .github/workflows/release.yml
Due: none

add glm to default models
  src/constants.ts
Due: biome-check

add project image to README
  README.md
  assets/code-council.png
Due: none

fix: restore review_git_changes tool and sync docs with releases
  README.md
  package.json
  src/index.ts
  src/tools/review-git.ts
Due: biome-check, typecheck

test: add review-git tests for 100% coverage
  src/tools/review-git.test.ts
Due: biome-check, typecheck

feat: add discuss_with_council tool for multi-turn conversations
  .idea/.gitignore
  .idea/code-council.iml
  .idea/git_toolbox_prj.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
  package.json
  src/config.test.ts
  src/config.ts
  src/constants.ts
  src/index.ts
  src/prompts/discussion.test.ts
  src/prompts/discussion.ts
  src/review-client.ts
  src/session/in-memory-store.test.ts
  src/session/in-memory-store.ts
  src/session/session-store.ts
  src/session/types.ts
  src/tools/conversation-factory.ts
  src/tools/discuss-council.test.ts
  src/tools/discuss-council.ts
Due: biome-check, typecheck

fix: add --allow-same-version flag to npm version command
  .github/workflows/release.yml
Due: none

fix: replace vi.mocked with type assertion for Bun compatibility
  .beads/issues.jsonl
  src/tools/review-git.test.ts
Due: biome-check, typecheck

feat: add TPS audit tool for codebase analysis using Toyota Production System principles
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  AGENTS.md
  README.md
  bun.lock
  src/config.ts
  src/index.ts
  src/prompts/tps-audit.test.ts
  src/prompts/tps-audit.ts
  src/review-client.ts
  src/tools/factory.ts
  src/tools/tps-audit.test.ts
  src/tools/tps-audit.ts
  src/utils/aggregate-files.test.ts
  src/utils/git-operations.test.ts
  src/utils/git-operations.ts
  src/utils/repo-scanner.test.ts
  src/utils/repo-scanner.ts
  templates/tps-report.html
Due: biome-check, typecheck

chore: update ignore package version
  package.json
Due: biome-check

fix: fix test require import
  src/tools/tps-audit.test.ts
Due: biome-check, typecheck

fix: fix undefined files
  src/utils/repo-scanner.ts
Due: biome-check, typecheck

feat: improve TPS audit
  src/tools/tps-audit.ts
  src/utils/repo-scanner.ts
Due: biome-check, typecheck

feat(tps-audit): multi-model council architecture with smart batching
  RELEASE.md
  scripts/test-tps-audit.ts
  src/prompts/tps-audit.test.ts
  src/prompts/tps-audit.ts
  src/review-client.ts
  src/tools/tps-audit.ts
  src/utils/repo-scanner.test.ts
  src/utils/repo-scanner.ts
  templates/tps-report.html
Due: biome-check, typecheck

tests: improve coverage
  src/prompts/tps-audit.test.ts
  src/review-client.test.ts
  src/tools/factory.test.ts
  src/tools/tps-audit.test.ts
  src/utils/repo-scanner.test.ts
Due: biome-check, typecheck

fix: fix tests failing
  src/review-client.test.ts
  src/tools/tps-audit.test.ts
Due: biome-check, typecheck

feat(consensus): add multi-model consensus analysis module
  src/config.ts
  src/consensus/__fixtures__/consensus-scenarios.ts
  src/consensus/__fixtures__/expected-findings.ts
  src/consensus/__fixtures__/sample-reviews.ts
  src/consensus/__mocks__/consensus-client.ts
  src/consensus/builder.ts
  src/consensus/clustering.test.ts
  src/consensus/clustering.ts
  src/consensus/consensus-client.ts
  src/consensus/extractor.test.ts
  src/consensus/extractor.ts
  src/consensus/formatter.test.ts
  src/consensus/formatter.ts
  src/consensus/index.ts
  src/consensus/normalizer.test.ts
  src/consensus/normalizer.ts
  src/consensus/scoring.test.ts
  src/consensus/scoring.ts
  src/consensus/types.ts
  src/errors.ts
  src/index.ts
  src/prompts/consensus.ts
  src/schemas/consensus.ts
  src/tools/factory.ts
  src/tools/list-config.ts
Due: biome-check, typecheck

feat(consensus): consolidate review tools with host extraction
  .idea/biome.xml
  src/config.ts
  src/config/types.ts
  src/index.ts
  src/tools/factory.test.ts
  src/tools/factory.ts
  src/tools/review-backend.ts
  src/tools/review-code.ts
  src/tools/review-frontend.ts
  src/tools/review-git.ts
  src/tools/review-plan.ts
Due: biome-check, typecheck
