Repository klitchevo/code-council: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

lefthook.yml:

# Lefthook configuration for Git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,json}"
      exclude: "biome.json|node_modules/|dist/"
      run: node node_modules/@biomejs/biome/bin/biome check --write --diagnostic-level="error" --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck:
      glob: "src/**/*.ts"
      run: bun typecheck

commit-msg:
  commands:
    check-commit-message:
      run: |
        # Basic commit message validation
        # Ensures commit messages are not empty and have reasonable length
        msg=$(cat {1})
        if [ -z "$msg" ]; then
          echo "Commit message cannot be empty"
          exit 1
        fi
        if [ ${#msg} -lt 3 ]; then
          echo "Commit message too short (minimum 3 characters)"
          exit 1
        fi

pre-push:
  commands:
    build-check:
      run: bun run build

fix: add missing config loader and consensus builder exports
  src/config/define-config.test.ts
  src/config/define-config.ts
  src/config/index.ts
  src/config/loader.test.ts
  src/config/loader.ts
  src/config/schema.test.ts
  src/config/schema.ts
  src/consensus/builder.ts
  src/consensus/index.ts
  src/consensus/types.ts
Due: biome-check, typecheck

fix: add missing jiti dependency
  bun.lock
  package.json
  scripts/test-consensus.ts
  tsup.config.ts
Due: biome-check

fix: add jiti dependency and fix failing tests
  src/tools/list-config.test.ts
  src/tools/tps-audit.test.ts
Due: biome-check, typecheck

docs: update README with config file system and add init_config tool
  README.md
  src/index.ts
  src/tools/init-config.ts
Due: biome-check, typecheck

feat: add CLI init command for config generation
  README.md
  src/index.ts
Due: biome-check

fix: add missing mocks and use package.json test script in CI
  .github/workflows/ci.yml
  RELEASE.md
  src/tools/list-config.test.ts
Due: biome-check, typecheck

fix: use getter functions for config file support
  src/config.test.ts
  src/config/loader.test.ts
  src/consensus/builder.test.ts
  src/consensus/consensus-client.test.ts
  src/index.ts
  src/tools/conversation-factory.test.ts
  src/tools/discuss-council.test.ts
  src/tools/discuss-council.ts
  src/tools/init-config.test.ts
  src/tools/list-config.test.ts
  src/tools/list-config.ts
  src/tools/review-backend.test.ts
  src/tools/review-backend.ts
  src/tools/review-code.test.ts
  src/tools/review-code.ts
  src/tools/review-frontend.test.ts
  src/tools/review-frontend.ts
  src/tools/review-plan.test.ts
  src/tools/review-plan.ts
  src/utils/repo-scanner.test.ts
Due: biome-check, typecheck

fix: resolve test isolation issues in config tests
  src/config.test.ts
  src/config/loader.test.ts
Due: biome-check, typecheck

fix: use vitest instead of bun test in release workflow
  .github/workflows/release.yml
Due: none

fix release flow
  .github/workflows/release.yml
Due: none

fix publish
  .github/workflows/release.yml
  package.json
Due: biome-check

feat: update default model to moonshotai/kimi-k2.5
  README.md
  src/config.test.ts
  src/config/types.ts
  src/constants.ts
Due: biome-check, typecheck

fix: upgrade @modelcontextprotocol/sdk to 1.25.3 (CVE-2026-0621)
  bun.lock
  package.json
Due: biome-check

docs: restructure README and add GitHub Pages site
  README.md
  assets/consensus-demo.svg
  docs/configuration.md
  docs/index.html
  docs/models.md
  docs/tools-reference.md
  promo/social-card-disagree.html
  promo/social-card-stats.html
  promo/social-card.html
Due: none

docs: expand tool cards with examples and parameters
  docs/index.html
Due: none

docs: add links to GitHub Pages documentation site
  README.md
Due: none

fix: constrain icon size in value cards
  docs/index.html
Due: none

docs: add how it works, config options, and discussions sections
  docs/index.html
Due: none

docs: add proper HTML documentation pages (config, tools, models)
  docs/configuration.html
  docs/index.html
  docs/models.html
  docs/tools.html
Due: none

docs: consolidate into single-page with scroll spy navigation
  docs/configuration.html
  docs/index.html
  docs/models.html
  docs/tools.html
Due: none

feat: add SVG visualizations to docs page
  docs/index.html
Due: none

fix: scroll spy activates Quick Start when at bottom of page
  docs/index.html
Due: none

docs: expand model selection section with detailed explanations
  docs/index.html
Due: none

feat: add CLI mode for GitHub Actions integration
  .github/workflows/code-council-review.yml
  src/cli/commands/review.ts
  src/cli/index.ts
  src/cli/input.ts
  src/cli/types.ts
  src/index.ts
Due: biome-check, typecheck

fix: use 4 default models, workflow uses 6 models
  .github/workflows/code-council-review.yml
  src/cli/commands/review.ts
Due: biome-check, typecheck

docs: add CLI usage and GitHub Actions to README and docs
  .github/workflows/code-council-review.yml
  README.md
  docs/index.html
Due: none

feat: add inline PR comments and setup workflow command
  .github/workflows/code-council-review.yml
  README.md
  docs/configuration.md
  docs/index.html
  src/cli/commands/review.ts
  src/cli/commands/setup.ts
  src/cli/index.ts
  src/cli/types.ts
  src/consensus/comment-mapper.test.ts
  src/consensus/comment-mapper.ts
  src/consensus/index.ts
  src/consensus/pr-comment-formatter.test.ts
  src/consensus/pr-comment-formatter.ts
  src/consensus/types.ts
  src/index.ts
  src/tools/review-git.ts
  src/utils/diff-parser.test.ts
  src/utils/diff-parser.ts
  src/utils/index.ts
Due: biome-check, typecheck

demo: add buggy code examples for PR review POC
  examples/buggy-code/data-processor.ts
  examples/buggy-code/database.ts
  examples/buggy-code/payment-processor.ts
  examples/buggy-code/user-service.ts
Due: biome-check

fix: use npm install -g instead of npx in workflow
  .github/workflows/code-council-review.yml
Due: none

fix: handle GitHub Actions PR context for git diff base ref
  .github/workflows/code-council-review.yml
  docs/plans/inline-pr-comments.md
  package.json
  src/tools/review-git.test.ts
  src/tools/review-git.ts
Due: biome-check, typecheck

fix: don't redirect stderr to stdout in workflow (corrupts JSON)
  .github/workflows/code-council-review.yml
Due: none

debug: add JSON validation before posting PR review
  .github/workflows/code-council-review.yml
Due: none

feat: GitHub suggestion syntax and duplicate comment prevention
  .github/workflows/code-council-review.yml
  src/consensus/extractor.ts
  src/consensus/pr-comment-formatter.ts
  src/consensus/types.ts
  src/prompts/consensus.ts
  src/schemas/consensus.ts
Due: biome-check, typecheck

feat: add user service with optimizations
  src/utils/user-service.ts
Due: biome-check, typecheck

docs: add v0.2.1 features to docs and README
  README.md
  docs/index.html
Due: none

docs: update features without version references
  README.md
  docs/index.html
Due: none

fix: handle null values and repair malformed JSON from LLM extraction
  src/consensus/extractor.ts
  src/schemas/consensus.ts
Due: biome-check, typecheck

chore: bump to v0.2.2
  package.json
Due: biome-check

fix: resolve lint errors
  src/consensus/clustering.test.ts
  src/consensus/comment-mapper.test.ts
  src/consensus/consensus-client.test.ts
  src/consensus/extractor.test.ts
  src/consensus/extractor.ts
  src/consensus/formatter.ts
  src/consensus/pr-comment-formatter.test.ts
  src/prompts/tps-audit.test.ts
  src/prompts/tps-audit.ts
  src/review-client.test.ts
  src/session/in-memory-store.test.ts
  src/tools/discuss-council.test.ts
  src/tools/factory.test.ts
  src/tools/tps-audit.ts
  src/utils/diff-parser.test.ts
  src/utils/diff-parser.ts
  src/utils/repo-scanner.test.ts
  src/utils/repo-scanner.ts
Due: biome-check, typecheck
